body {
    display: flex;
    flex-wrap: wrap;
}

.box {
    border: 1px solid black;
    margin: 10px;
    background-color: lightgray;
}

#box1 {
    width: 200px;
    height: 70px;
}

#box2 {
    width: 960px;
    height: 450px;
}

#box3, #box4, #box5 {
    display: inline-block;
    width: 300px;
    height: 375px;
}

.flex-container {
    display: flex;
    align-items: flex-start; /* Align items to the start of the flex container */
}

#box6 {
    width: 480px;
    height: 225px;
}

#textBox {
    width: 300px;
    height: 225px;
    margin-left: 10px; /* Adjust margin as needed */
}

